
@mixin black($opacity: .1){
	background-color: rgba(0,0,0,$opacity);
}
@mixin white($opacity: .6){
	background-color: rgba(255,255,255,$opacity);
}
@for $i from 1 through 6 {
	.font-sz-#{$i} {
		font-size: 12px * $i;
	}
}

@each $list in disc, circle, decimal {
 	.list-style#{$list} {
 		list-style-type: $list;
 	}
}

@mixin breakpoint($size) {
 	@if $size == small {
 		@media all and (min-width: 480px) {
 			//do stuff
 			@content;
 		}
 	}

 	@else if $size ==med {
 		@media all and (min-width: 900px) {
 			// do other stuff
 			@content;
 			}
 		}
 	}