@import 'font-awesome/font-awesome';


.section-container {
	height: 93.5vh;
	//border: 2px solid green;
}

h2 {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

/* #page-starters {
	overflow: hidden;
	height: 100vh;
}

#page-entrees {
	overflow: hidden;
	height: 100vh;
}
#page-desserts {
	overflow: hidden;
	height: 100vh;
} */

.slideshow {
	width: 100%;
	position: relative;
	text-align: center;
	overflow: hidden;
	//height: 560px;
	height: 75vh;
	//border: 2px solid red;
	text-align: center;
}


img {
	border: 4px solid black;
	vertical-align: middle;
	margin-bottom: 10px;
	display: none;
	max-width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}	

.button-container {
	text-align: center;
}

.nav-wrapper {
	background-color: #eee;
	border-bottom: 1px solid black;
	overflow: auto; // hold the height even with floated children
	position: fixed;
	z-index:1;
	top: 0;
	left: 0;
	width: 100%;

	.nav-main {
		margin: 0;
		padding: 0;


		li {
			display: block;
			float: left;

			a {
				display: block;
				padding: 9px 18px;
				transition: all .5s;
				text-decoration: none;

				&:hover,
				&.is-current {
					background-color: #ccc;
				}
			}
		}
	}
}

